.window {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid lightgreen;
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: black;
    overflow: hidden;
}

.window.active {
    border: 3px solid lightgreen;
}